body {
    margin:0;  
    font-family: "Roboto", sans-serif;
      
}

header { 
    background-color: #F46A06;
    padding: 30px;         
    text-align:justify;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #F46A06;
}






head img {
    height: 150px;  
}

nav {
    background-color: #000000;
    text-align: center;
    color: #F46A06;
}

nav ul {
    margin: 0;
    padding: 10px;
    }

nav ul li {
    display: inline;
    padding: 25px;
    margin: 50px;
}

nav ul li a {
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        color: #F46A06;
}

section { 
    margin: 50px;
    padding: 50px;
    background-color:rgb(0, 0, 0);
    color: white;
    border-radius: 25px;
    }

footer { 
    background-color: #F46A06;
    padding: 10px;         
    text-align: center;
}

.invalid {
    border: 2px solid red;
}

@media screen and (max-width: 600px) {
    
}

